body {
    font-family: 'Nunito Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Занять всю высоту экрана */
    background-image: url('path/to/your/image.jpg'); /* Укажите путь к изображению */
    background-size: cover; /* Покрытие всего экрана */
    background-position: center; /* Центровка изображения */
    font-size: 11px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный цвет */
    z-index: 1; /* Устанавливаем выше фона */
}

header {
    position: relative; /* Позиционируем относительно родителя */
    z-index: 2; /* Устанавливаем выше полупрозрачного слоя */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Убираем фоновый цвет */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.first-title {
    padding: 0 92px; /* Отступы по 92 пикселя с двух сторон для заголовка */
}

.content {
    position: relative; /* Позиционирование контента относительно остального */
    z-index: 2; /* Устанавливаем выше полупрозрачного слоя */
    width: 80%; /* Изменено для большей адаптивности */
    max-width: 800px; /* Максимальная ширина для больших экранов */
    margin: 20px auto;
    padding: 20px;
}

.extra-padding {
    padding-bottom: 92px; /* Отступ в 92 пикселя после кнопки */
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 11px;
}

.logo a, .home a {
    color: #E3B873;
    text-decoration: none;
}

.contact {
    display: flex;
    align-items: center;
}

.contact button {
    font-style: italic;
    text-transform: uppercase;
}

.contact a {
    margin-right: 10px;
    color: #E3B873;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.button-container button {
    width: 48%;
    height: 51px;
}

.submit {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #E3B873;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

button:hover { 
    background-color: #E3B87333;
}

.content p, h1 {
    color: #FFFFFF;
}

.content p{
  font-size: 22px;
  font-family: 'Nunito Sans';
  font-weight: 400;
}

.content h1 {
    font-family: 'Yeseva One';
    text-transform: uppercase;
    font-size: 40px;
}

span {
    color: #E3B873;
}
